.header {
  align-items: center;
  background: var(--surface);
  border-bottom: 1px solid var(--outline);
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
}

@media (max-width: 1024px) {
  .header {
    justify-content: flex-end;
  }

  .header .btn[tooglesidebar] {
    display: none;
  }
}

@media (max-width: 720px) {
  .header {
    justify-content: space-between;
  }

  .header .btn[tooglesidebar] {
    display: block;
  }
}
